# nlp100 chapter2

Try:http://www.cl.ecei.tohoku.ac.jp/nlp100/

In [1]:
import os
import pandas as pd
import numpy as np
os.chdir('../../nnnnishi/nlp-100knock')

## 10. 行数のカウント

In [2]:
f = os.path.join('data', 'hightemp.txt')
df = pd.read_csv(f, delimiter='\t',header=None)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>高知県</td>
      <td>江川崎</td>
      <td>41.0</td>
      <td>2013-08-12</td>
    </tr>
    <tr>
      <th>1</th>
      <td>埼玉県</td>
      <td>熊谷</td>
      <td>40.9</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>2</th>
      <td>岐阜県</td>
      <td>多治見</td>
      <td>40.9</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>3</th>
      <td>山形県</td>
      <td>山形</td>
      <td>40.8</td>
      <td>1933-07-25</td>
    </tr>
    <tr>
      <th>4</th>
      <td>山梨県</td>
      <td>甲府</td>
      <td>40.7</td>
      <td>2013-08-10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>和歌山県</td>
      <td>かつらぎ</td>
      <td>40.6</td>
      <td>1994-08-08</td>
    </tr>
    <tr>
      <th>6</th>
      <td>静岡県</td>
      <td>天竜</td>
      <td>40.6</td>
      <td>1994-08-04</td>
    </tr>
    <tr>
      <th>7</th>
      <td>山梨県</td>
      <td>勝沼</td>
      <td>40.5</td>
      <td>2013-08-10</td>
    </tr>
    <tr>
      <th>8</th>
      <td>埼玉県</td>
      <td>越谷</td>
      <td>40.4</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>9</th>
      <td>群馬県</td>
      <td>館林</td>
      <td>40.3</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>10</th>
      <td>群馬県</td>
      <td>上里見</td>
      <td>40.3</td>
      <td>1998-07-04</td>
    </tr>
    <tr>
      <th>11</th>
      <td>愛知県</td>
      <td>愛西</td>
      <td>40.3</td>
      <td>1994-08-05</td>
    </tr>
    <tr>
      <th>12</th>
      <td>千葉県</td>
      <td>牛久</td>
      <td>40.2</td>
      <td>2004-07-20</td>
    </tr>
    <tr>
      <th>13</th>
      <td>静岡県</td>
      <td>佐久間</td>
      <td>40.2</td>
      <td>2001-07-24</td>
    </tr>
    <tr>
      <th>14</th>
      <td>愛媛県</td>
      <td>宇和島</td>
      <td>40.2</td>
      <td>1927-07-22</td>
    </tr>
    <tr>
      <th>15</th>
      <td>山形県</td>
      <td>酒田</td>
      <td>40.1</td>
      <td>1978-08-03</td>
    </tr>
    <tr>
      <th>16</th>
      <td>岐阜県</td>
      <td>美濃</td>
      <td>40.0</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>17</th>
      <td>群馬県</td>
      <td>前橋</td>
      <td>40.0</td>
      <td>2001-07-24</td>
    </tr>
    <tr>
      <th>18</th>
      <td>千葉県</td>
      <td>茂原</td>
      <td>39.9</td>
      <td>2013-08-11</td>
    </tr>
    <tr>
      <th>19</th>
      <td>埼玉県</td>
      <td>鳩山</td>
      <td>39.9</td>
      <td>1997-07-05</td>
    </tr>
    <tr>
      <th>20</th>
      <td>大阪府</td>
      <td>豊中</td>
      <td>39.9</td>
      <td>1994-08-08</td>
    </tr>
    <tr>
      <th>21</th>
      <td>山梨県</td>
      <td>大月</td>
      <td>39.9</td>
      <td>1990-07-19</td>
    </tr>
    <tr>
      <th>22</th>
      <td>山形県</td>
      <td>鶴岡</td>
      <td>39.9</td>
      <td>1978-08-03</td>
    </tr>
    <tr>
      <th>23</th>
      <td>愛知県</td>
      <td>名古屋</td>
      <td>39.9</td>
      <td>1942-08-02</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
f = os.path.join('data', 'hightemp.txt')
num_lines = sum(1 for line in open(f))
print(num_lines)

24

## 11. タブをスペースに置換

In [4]:
with open(f) as reader:
    for line in reader:
        print(line.rstrip().replace('\t', ' '))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [5]:
df[0].to_csv('data/col1.txt', header=None, index=None)
df[1].to_csv('data/col2.txt', header=None, index=None)

## 13. col1.txtとcol2.txtをマージ

In [6]:
pd.concat([df[0], df[1]], axis=1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>高知県</td>
      <td>江川崎</td>
    </tr>
    <tr>
      <th>1</th>
      <td>埼玉県</td>
      <td>熊谷</td>
    </tr>
    <tr>
      <th>2</th>
      <td>岐阜県</td>
      <td>多治見</td>
    </tr>
    <tr>
      <th>3</th>
      <td>山形県</td>
      <td>山形</td>
    </tr>
    <tr>
      <th>4</th>
      <td>山梨県</td>
      <td>甲府</td>
    </tr>
    <tr>
      <th>5</th>
      <td>和歌山県</td>
      <td>かつらぎ</td>
    </tr>
    <tr>
      <th>6</th>
      <td>静岡県</td>
      <td>天竜</td>
    </tr>
    <tr>
      <th>7</th>
      <td>山梨県</td>
      <td>勝沼</td>
    </tr>
    <tr>
      <th>8</th>
      <td>埼玉県</td>
      <td>越谷</td>
    </tr>
    <tr>
      <th>9</th>
      <td>群馬県</td>
      <td>館林</td>
    </tr>
    <tr>
      <th>10</th>
      <td>群馬県</td>
      <td>上里見</td>
    </tr>
    <tr>
      <th>11</th>
      <td>愛知県</td>
      <td>愛西</td>
    </tr>
    <tr>
      <th>12</th>
      <td>千葉県</td>
      <td>牛久</td>
    </tr>
    <tr>
      <th>13</th>
      <td>静岡県</td>
      <td>佐久間</td>
    </tr>
    <tr>
      <th>14</th>
      <td>愛媛県</td>
      <td>宇和島</td>
    </tr>
    <tr>
      <th>15</th>
      <td>山形県</td>
      <td>酒田</td>
    </tr>
    <tr>
      <th>16</th>
      <td>岐阜県</td>
      <td>美濃</td>
    </tr>
    <tr>
      <th>17</th>
      <td>群馬県</td>
      <td>前橋</td>
    </tr>
    <tr>
      <th>18</th>
      <td>千葉県</td>
      <td>茂原</td>
    </tr>
    <tr>
      <th>19</th>
      <td>埼玉県</td>
      <td>鳩山</td>
    </tr>
    <tr>
      <th>20</th>
      <td>大阪府</td>
      <td>豊中</td>
    </tr>
    <tr>
      <th>21</th>
      <td>山梨県</td>
      <td>大月</td>
    </tr>
    <tr>
      <th>22</th>
      <td>山形県</td>
      <td>鶴岡</td>
    </tr>
    <tr>
      <th>23</th>
      <td>愛知県</td>
      <td>名古屋</td>
    </tr>
  </tbody>
</table>
</div>

## 14. 先頭からN行を出力

In [7]:
df.head(3)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>高知県</td>
      <td>江川崎</td>
      <td>41.0</td>
      <td>2013-08-12</td>
    </tr>
    <tr>
      <th>1</th>
      <td>埼玉県</td>
      <td>熊谷</td>
      <td>40.9</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>2</th>
      <td>岐阜県</td>
      <td>多治見</td>
      <td>40.9</td>
      <td>2007-08-16</td>
    </tr>
  </tbody>
</table>
</div>

## 15. 末尾のN行を出力

In [8]:
df.tail(3)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>21</th>
      <td>山梨県</td>
      <td>大月</td>
      <td>39.9</td>
      <td>1990-07-19</td>
    </tr>
    <tr>
      <th>22</th>
      <td>山形県</td>
      <td>鶴岡</td>
      <td>39.9</td>
      <td>1978-08-03</td>
    </tr>
    <tr>
      <th>23</th>
      <td>愛知県</td>
      <td>名古屋</td>
      <td>39.9</td>
      <td>1942-08-02</td>
    </tr>
  </tbody>
</table>
</div>

## 16. ファイルをN分割する

In [9]:
N = 5
split_num_lines = int(np.ceil((num_lines/N)))
for i in range(0, num_lines, split_num_lines):
    print(df[i:i+split_num_lines])

     0    1     2           3
0  高知県  江川崎  41.0  2013-08-12
1  埼玉県   熊谷  40.9  2007-08-16
2  岐阜県  多治見  40.9  2007-08-16
3  山形県   山形  40.8  1933-07-25
4  山梨県   甲府  40.7  2013-08-10
      0     1     2           3
5  和歌山県  かつらぎ  40.6  1994-08-08
6   静岡県    天竜  40.6  1994-08-04
7   山梨県    勝沼  40.5  2013-08-10
8   埼玉県    越谷  40.4  2007-08-16
9   群馬県    館林  40.3  2007-08-16
      0    1     2           3
10  群馬県  上里見  40.3  1998-07-04
11  愛知県   愛西  40.3  1994-08-05
12  千葉県   牛久  40.2  2004-07-20
13  静岡県  佐久間  40.2  2001-07-24
14  愛媛県  宇和島  40.2  1927-07-22
      0   1     2           3
15  山形県  酒田  40.1  1978-08-03
16  岐阜県  美濃  40.0  2007-08-16
17  群馬県  前橋  40.0  2001-07-24
18  千葉県  茂原  39.9  2013-08-11
19  埼玉県  鳩山  39.9  1997-07-05
      0    1     2           3
20  大阪府   豊中  39.9  1994-08-08
21  山梨県   大月  39.9  1990-07-19
22  山形県   鶴岡  39.9  1978-08-03
23  愛知県  名古屋  39.9  1942-08-02

## 17. １列目の文字列の異なり

In [10]:
set(df[0])

{'千葉県',
 '和歌山県',
 '埼玉県',
 '大阪府',
 '山形県',
 '山梨県',
 '岐阜県',
 '愛媛県',
 '愛知県',
 '群馬県',
 '静岡県',
 '高知県'}

## 18. 各行を3コラム目の数値の降順にソート

In [11]:
df.sort_values([2],ascending=False)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>高知県</td>
      <td>江川崎</td>
      <td>41.0</td>
      <td>2013-08-12</td>
    </tr>
    <tr>
      <th>2</th>
      <td>岐阜県</td>
      <td>多治見</td>
      <td>40.9</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>埼玉県</td>
      <td>熊谷</td>
      <td>40.9</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>3</th>
      <td>山形県</td>
      <td>山形</td>
      <td>40.8</td>
      <td>1933-07-25</td>
    </tr>
    <tr>
      <th>4</th>
      <td>山梨県</td>
      <td>甲府</td>
      <td>40.7</td>
      <td>2013-08-10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>和歌山県</td>
      <td>かつらぎ</td>
      <td>40.6</td>
      <td>1994-08-08</td>
    </tr>
    <tr>
      <th>6</th>
      <td>静岡県</td>
      <td>天竜</td>
      <td>40.6</td>
      <td>1994-08-04</td>
    </tr>
    <tr>
      <th>7</th>
      <td>山梨県</td>
      <td>勝沼</td>
      <td>40.5</td>
      <td>2013-08-10</td>
    </tr>
    <tr>
      <th>8</th>
      <td>埼玉県</td>
      <td>越谷</td>
      <td>40.4</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>9</th>
      <td>群馬県</td>
      <td>館林</td>
      <td>40.3</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>10</th>
      <td>群馬県</td>
      <td>上里見</td>
      <td>40.3</td>
      <td>1998-07-04</td>
    </tr>
    <tr>
      <th>11</th>
      <td>愛知県</td>
      <td>愛西</td>
      <td>40.3</td>
      <td>1994-08-05</td>
    </tr>
    <tr>
      <th>14</th>
      <td>愛媛県</td>
      <td>宇和島</td>
      <td>40.2</td>
      <td>1927-07-22</td>
    </tr>
    <tr>
      <th>12</th>
      <td>千葉県</td>
      <td>牛久</td>
      <td>40.2</td>
      <td>2004-07-20</td>
    </tr>
    <tr>
      <th>13</th>
      <td>静岡県</td>
      <td>佐久間</td>
      <td>40.2</td>
      <td>2001-07-24</td>
    </tr>
    <tr>
      <th>15</th>
      <td>山形県</td>
      <td>酒田</td>
      <td>40.1</td>
      <td>1978-08-03</td>
    </tr>
    <tr>
      <th>16</th>
      <td>岐阜県</td>
      <td>美濃</td>
      <td>40.0</td>
      <td>2007-08-16</td>
    </tr>
    <tr>
      <th>17</th>
      <td>群馬県</td>
      <td>前橋</td>
      <td>40.0</td>
      <td>2001-07-24</td>
    </tr>
    <tr>
      <th>18</th>
      <td>千葉県</td>
      <td>茂原</td>
      <td>39.9</td>
      <td>2013-08-11</td>
    </tr>
    <tr>
      <th>19</th>
      <td>埼玉県</td>
      <td>鳩山</td>
      <td>39.9</td>
      <td>1997-07-05</td>
    </tr>
    <tr>
      <th>20</th>
      <td>大阪府</td>
      <td>豊中</td>
      <td>39.9</td>
      <td>1994-08-08</td>
    </tr>
    <tr>
      <th>21</th>
      <td>山梨県</td>
      <td>大月</td>
      <td>39.9</td>
      <td>1990-07-19</td>
    </tr>
    <tr>
      <th>22</th>
      <td>山形県</td>
      <td>鶴岡</td>
      <td>39.9</td>
      <td>1978-08-03</td>
    </tr>
    <tr>
      <th>23</th>
      <td>愛知県</td>
      <td>名古屋</td>
      <td>39.9</td>
      <td>1942-08-02</td>
    </tr>
  </tbody>
</table>
</div>

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [12]:
freq_df = df.groupby(0).count().sort_values(by=1,ascending=False)[1]
freq_df

0
埼玉県     3
山形県     3
山梨県     3
群馬県     3
千葉県     2
岐阜県     2
愛知県     2
静岡県     2
和歌山県    1
大阪府     1
愛媛県     1
高知県     1
Name: 1, dtype: int64